[submodule ".oh-my-zsh"]
	path = .config/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule ".emacs.d"]
	path = .emacs.doom
  branch = develop
	url = https://github.com/hlissner/doom-emacs
[submodule "org"]
	path = org
	url = git@github.com:OliverMead/org.git
[submodule "/home/olivermead/.tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".password-store"]
	path = .password-store
	url = git@github.com:OliverMead/pass-store.git
